body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

  header {
    background-color: purple;
    color: #fff;
    padding: 15px;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: space-around;
    background-color: purple;
    padding: 10px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }

  @media only screen and (max-width: 600px) {
    nav {
      flex-direction: column;
    }
  }
